@import '../../common/variables.scss';

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    margin: 0.25rem;
    border-radius: 1rem;
    background-color: $purple;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &__start {
        width: 5rem;
        height: 3rem;
    }

    &__right {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__falsy {
        width: 2.5rem;
        height: 2.5rem;
    }
}